




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
  
  ul {
    list-style: none;
  }



  
  .grid-container   {
    display: grid;
    grid-template-columns: auto auto auto  auto;
    gap: 3px;
    padding: 3px 3px;
    background-color: red;
    border: 2px solid green;
  }
  

  .grid-container > div {
    background-color:black;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  

  #my-table {
    border-collapse: separate;
    border-spacing: 15px 50px;
    border: 1px solid black;
  }



  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }



  
  ul li {
    padding: 5px;
    background: #f4f4f4;
    margin: 5px 0;
  }

  h2 {
   
    padding: 1rem;
    text-align: center;
  }


  
  header {
    display: flex;
    justify-content: space-between;
    background: lightblue;
    padding: 1rem;
    text-align: center;
    color: green;
  }


  footer {
    display: flex;
    justify-content: space-between;
    background: lightgray;
    padding: 1rem;
    text-align: center;
    color: green;
  }
  
  .container {
    margin: auto;
    width: 600px;
    overflow: auto;
    padding: 3rem 2rem;
  }

  #tspace {
  
    width: 600px;
  
  }
  
  #my-applicationForm {
    padding: 2rem;
    background: lightgrey;
  
  }
  
  #my-applicationForm label {
    display: block;
    width: 100%;
  
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  #gender,   #courses {
    width: 10%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }


  
  .btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }

  #state {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .btn:hover {
    background: #444;
  }
  
  .bg-dark {
    background: #333;
    color: black;
  }
  
  .error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }

